/* Add CSS Styling */
.dark,.yellow{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}


.dark{
    background-color: black;
    color: white;
}

.yellow{
    background-color: yellow;
}